::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #00000044;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000023;
}

.clip-pentagon {
  clip-path: polygon(
    0px 0px,
    100% 0px,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    0px 100%
  );
}

.responsive {
  padding-inline: 190px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1745px) {
  .responsive {
    padding-inline: 140px;
  }
}

@media screen and (max-width: 1650px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
}

.backgroundFirst {
  background: linear-gradient(
    to bottom,
    #fbe2a8 0%,
    #fff4db 80%,
    #fff4db00 100%
  );
}

.backgroundSecond {
  background: linear-gradient(
    to bottom,
    #d0e8f6 0%,
    #ebfaff 80%,
    #ebf9fe00 100%
  );
}

.backgroundThird {
  background: linear-gradient(
    to bottom,
    #e9d9b7 0%,
    #fdf4e3 80%,
    #ebf9fe00 100%
  );
}

@media screen and (max-width: 690px) {
  .userCards {
    display: none;
  }
}
